In [88]:
#Sales analysis project 
import numpy as np
import pandas as pd

In [89]:
# Load dataset
df = pd.read_csv("SuperMarket Analysis.csv")

In [90]:
# Data cleaning and filling missing values
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df = df.dropna(subset=['Date'])
num = df.select_dtypes(include=['int64', 'float64']).columns
df[num] = df[num].fillna(df[num].median())
df = df.drop_duplicates()
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Sales,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,Alex,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,1:08:00 PM,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,Giza,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00 AM,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,Alex,Yangon,Normal,Female,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,1:23:00 PM,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,Alex,Yangon,Member,Female,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,8:33:00 PM,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,Alex,Yangon,Member,Female,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00 AM,Ewallet,604.17,4.761905,30.2085,5.3

In [91]:
#feature extraction
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['year'] = df['Date'].dt.year

In [92]:
#Finding the beat product
best_products = df.groupby('Product line')['Quantity'].sum().sort_values(ascending=False)
print("\nBest Selling Products:\n", best_products)

Best Selling Products:
 Product line
Electronic accessories    971
Food and beverages        952
Sports and travel         920
Home and lifestyle        911
Fashion accessories       902
Health and beauty         854
Name: Quantity, dtype: int64

In [93]:
#monthly revenue calculation
monthly_revenue = df.groupby('Month')['gross income'].sum().sort_values(ascending=False)
print("\nMonthly Revenue:\n", monthly_revenue)

Monthly Revenue:
 Month
1    5537.708
3    5212.167
2    4629.494
Name: gross income, dtype: float64

In [ ]:
# City-wise revenue calculation
city_revenue = df.groupby('City')['gross income'].sum().sort_values(ascending=False)
print("\nCity-wise Revenue:\n", city_revenue)

City-wise Revenue:
 City
Naypyitaw    5265.1765
Yangon       5057.1605
Mandalay     5057.0320
Name: gross income, dtype: float64

In [95]:
# Payment method usage
payment_counts = df['Payment'].value_counts()
print("\nPayment Method Usage:\n", payment_counts)

Payment Method Usage:
 Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64

In [ ]:
# Summary
print("\n--- SALES INSIGHT. ")
print("Top Product:", best_products.index[0])
print("Highest Revenue Month:", monthly_revenue.index[0])
print("Top City:", city_revenue.index[0])
print("Most Used Payment Method:", payment_counts.index[0])

--- SALES INSIGHTS ---
Top Product: Electronic accessories
Highest Revenue Month: 1
Top City: Naypyitaw
Most Used Payment Method: Ewallet